*{
    padding: 0;
    margin: 0;

    box-sizing: border-box;


}

html{
    scroll-behavior: smooth;


}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

section{
    height: 100dvh;
    font-size: 150px;
    text-align: center;

    padding-top: 100px;

    text-shadow: black;
    background-image: url(https://i.artfile.ru/3527x1984_695341_[www.ArtFile.ru].jpg);
    background-size: cover;
    background-repeat: no-repeat;

    border-top: 5px solid red;

    border-bottom: 5px solid red;


}

#boba1{
    background-color: rgb(255, 0, 0);


}

#boba2{
    background-color: rgb(212, 0, 0);


}

#boba3{
    background-color: rgb(165, 0, 0);


}

#boba4{
    background-color: rgb(0, 0, 0);

    h1{
        color: white;

    }
}


.container{
    max-width: 1200px;
    width: 100%;

    margin: 0 auto;

    padding: 0 15px;


}

.h{
    position: fixed;
    width: 100%;
    background-color: #fff;




}

nav{
    display: flex;

    justify-content: space-between;

    padding: 20px 0 20px 0 ;

   



    a{
        color: black;
        text-decoration: none;

        font-weight: 600;

        text-transform: uppercase;

        &:active{
            color: red;
        }

    }

}

